extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each val in parts
      li
        //-a(href="public/series"+val["content"]) #{val["entry-name"]}
        a(href="/reader") #{val["entry-name"]}
  a(href="./reader") Jump to Reader
