extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/reader.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Crimson+Text" )
block content
  .main-wrapper
    header.main-header.storypage-header
      .header-wrapper
        h1.story-title #{storyTitle}
        h3.author-name
          | By #{author} 
          a(href="#").like-a
            i.like.material-icons favorite
    section.story-body
      p !{content}
    footer.main-footer
      a(href="/") To Series Front
      .series-footer-nav
        -var total = totalParts-1;
        if part > 0
          -var previousPart = parseInt(part)-1;
          a.series-nav(href="./reader?part="+previousPart) Previous Part
        if part < total
          -var nextPart = parseInt(part)+1;
          a.series-nav(href="./reader?part="+nextPart) Next Part
        
