.index-header{
  align-self: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 300px;
  border-bottom: 2px solid black;
}
.part-wrapper{
  text-align: center;
}

.parts-header{
  display: inline-block;
}

.parts-list{
  line-height: 1.4rem;
}
