
.storypage-header{
  border-bottom: 1px solid black;
}

.like-a:hover{
  background-color: rgba(0, 0, 0, 0);
}
.story-title{
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 8px;
}

.author-name{
  font-style: italic;
  font-weight: 300;
  margin-bottom: 8px;
}

/*
  Body
*/
.story-body{
  font-family: "Crimson Text", serif;
  margin-bottom: 1em;
  padding: 0 1em;
  text-indent: 1rem;
}

.story-body > p{
  font-size: 16px;
  line-height: 1.2rem;
  margin-bottom: 8px;

}
.series-nav{
  padding: 5px;
}

.series-footer-nav{
  margin-left: auto;
}

.main-footer > a{
  padding: 5px;
}
